@font-face {
    font-family:Persona5Menu;
    src:url(https://files.catbox.moe/gnykz0.eot);
    src:url(https://files.catbox.moe/gnykz0.eot?#iefix) format('embedded-opentype'),url(https://files.catbox.moe/tcvph6.woff2) format('woff2'),url(https://files.catbox.moe/vcvqnn.woff) format('woff'),url(https://files.catbox.moe/7h9fld.ttf) format('truetype')
}
