@font-face {
    font-family:Persona5;
    src:url(https://files.catbox.moe/n5szol.eot);
    src:url(https://files.catbox.moe/n5szol.eot?#iefix) format('embedded-opentype'),url(https://files.catbox.moe/bw49wx.woff2) format('woff2'),url(https://files.catbox.moe/ms79pj.woff) format('woff'),url(https://files.catbox.moe/zwu09d.ttf) format('truetype')
}
